@import "https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css";
@import "https://fonts.googleapis.com/css?family=Poppins";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";
html,
body {
  display: flex;
  height: 100vh;
  padding: 0;
  margin: 0;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
}
h1 {
  margin: unset;
  font-size: 4rem;
}
p {
  text-align: center;
}
.theme-light a {
  color: black;
}
.theme-dark a {
  color: white;
}
.carousel {
  position: relative;
  width: 320px;
  height: 455px;
  border-radius: 10px;
  overflow: hidden;
}
.carousel-cards {
  display: flex;
  transition: transform 500ms ease-in-out;
  flex-wrap: nowrap;
}
.card-spacing {
  margin: 10px;
}
.qr-code {
  width: 300px;
  height: 300px;
}
.dark-icon {
  color: #9d59d9;
}
.light-icon {
  color: #f2a413;
}
